@page
@model IndexModel
@{
    ViewData["Title"] = "Página incial";
}

<div class="text-center">
    <h4 class="display-4">CRUD de Filmes com páginas Razor</h4>    
    <small>Também foi utilizado o EntityFramework Core para migrações do banco de dados</small>
</div>
