@page "{id:int?}"
@model Application.Pages.Movies.DeleteModel

@{
    ViewData["Title"] = "Apagar";
}

<h5>Você tem certeza de que deseja apagar este filme?</h5>
<hr />

<div>        
    <table class="table rounded">
        <thead>
            <tr>
                <th><label class="form-label" asp-for="Movie.Title"></label></th>
                <th><label class="form-label" asp-for="Movie.ReleaseDate"></label></th>
                <th><label class="form-label" asp-for="Movie.Genre"></label></th>
                <th><label class="form-label" asp-for="Movie.Price"></label></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><input disabled asp-for="Movie.Title" class="form-control" /></td>
                <td><input disabled asp-for="Movie.ReleaseDate" class="form-control" /></td>
                <td><input disabled asp-for="Movie.Genre" class="form-control" /></td>
                <td> <input disabled asp-for="Movie.Price" class="form-control" /></td>
            </tr>
        </tbody>
    </table>
    
    <form method="post">
        <input type="hidden" asp-for="Movie.Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-outline-dark">Retornar à lista de filmes</a>
    </form>
</div>
